<div class="col-md-offset-3 col-md-6 login-page">
  <!-- <img src="assets/avatar.png" alt="avatar" class="image" /> -->
  <div class="user-icon">
  <span class="fa fa-user"></span>
</div>
      <h2><strong>User Login</strong></h2>
      
      <form ng-submit="formSubmit()" class="form">
        <div class="col-md-offset-3 col-md-6 text-center" style="margin-bottom: 20px;">
          <div class="form-group username">
            <input type="text" class="form-control" ng-model="username" placeholder="username" required=""/>
            <span class="fa fa-user"></span>
          </div> 
 
          <div class="form-group password">
            <input type="password" class="form-control" ng-model="password" placeholder="password" required=""/>
            <span class="fa fa-lock"></span>
          </div>
 
          <div class="form-group">
            <button type="submit" class="btn btn-success" style="width: 100%;">Login</button>
            <span class="text-danger" style="color:red">{{ error }}</span>
          </div>
 
        </div>
      </form>
</div>