<div class="col-md-12" style="padding: 0;">
  <div class="heading">
    	<div class="search">
    	<span class="fa fa-search"></span>
      <input type="text" placeholder="Search" ng-model="searchContact" class="search-input" />
      <span class="fa fa-times" ng-click="clearSearch()"></span>
  </div>
  <div class="login-user">
  	<label>{{userName}}</label>
  	<span class="fa fa-user img"></span>
  	<select ng-model="selectedItem" ng-change="changeNavigation(selectedItem)" class="header-list">
      <option value="" selected="">Select</option>
      <option value="settings">Settings</option>
  		<option value="login">Logout</option>
  	</select>
  </div>
  </div>
  <div class="row" style="margin: 0;background-color: whitesmoke;
    padding: 10px  0;">
  <div class="col-md-3">
    <div class="contact" ng-repeat="lists in contactList | filter: searchContact" ng-click="showDetails(lists)">{{lists.name}} 
    </div>
  </div>
  <div class="col-md-8 col-md-offset-1" ng-if="eachContact != undefined">
    <div class="row">
      <div class="col-md-6 text-center">
    <img src="{{eachContact.img}}" alt="" class="eachContact"/>
  </div>
  <div class="col-md-6">
    <div class="sendMesg">
      <button class="btn btn-primary">Send Message!</button>
    </div>
    <div class="rating">
      <span id='heartShapeRating'></span>
    </div>
  </div>
  </div>
  <div class="row" style="padding: 15px;line-height: 2;">
    {{eachContact.Description}}
  </div>
  <div class="row" style="display: flex;">
    <table class="table table-striped likes">
      <tr>
        <th style="font-size: 18px;">Likes</th>
        <!-- <th>Dislikes</th> -->
      </tr>
      <tr ng-repeat="likes in eachContact.Likes">
        <td>{{likes}}</td>
      </tr>
    </table>
    <table class="table table-striped likes">
      <tr>
        <!-- <th>Likes</th> -->
        <th style="font-size: 18px;">Dislikes</th>
      </tr>
      <tr ng-repeat="dislikes in eachContact.Dislikes">
        <td>{{dislikes}}</td>
      </tr>
    </table>
  </div>
  </div>
  </div>