.login-page{
  border: 1px solid lightgray;
  box-shadow: 1px 1px 1px 1px lightgrey;
    margin-top: 100px;
    text-align: center;
}
.user-icon{
  border: 1px solid lightgray;
    border-radius: 60px;
    width: 100px;
    height: 100px;
    margin: -40px;
    padding: 20px;
    display: inline-block;
}
.login-page h2{
  margin: 20px;
  padding-top: 30px;
}
.image{
  width: 100px;
    height: 100px;
    object-fit: contain;
    margin-top: -50px;
}
.username .fa-user{
  position: absolute;
    right: 25px;
    top: 8px;
}
.password .fa-lock{
  position: absolute;
    right: 25px;
    top: 58px;
}
.heading{
  height: 50px;
  box-shadow: 2px 1px 3px 0px lightgrey;
  background-color: #286090;
}
.search{
	position: relative;
	left: 10px;
	margin: 4px;
    padding: 6px;
    display: inline-block;
}
.search .fa-search { 
  position: absolute;
  top: 12px;
  left: 10px;
  font-size: 16px;
  padding: 1px 5px;
}
.search .fa-times{ 
  position: absolute;
  top: 11px;
  right: 10px;
  font-size: 16px;
  padding: 1px 5px;
}
.search-input{
	/*border: 1px solid #ccc;*/
	border: none;
	padding: 4px 10px !important;
	text-indent: 25px;
	border-radius: 14px;
  width: 275px;
  border: 1px solid lightgray;
}
.login-user{
	float: right;
	/*margin: 10px;*/
  margin: 4px 25px;
    padding: 6px;
}
.login-user label{
  text-transform: capitalize;
    padding: 0 10px;
}
.header-list{
  padding: 3px;
  border-radius: 3px;
  background-color: whitesmoke;
}
.img{
  width: 30px;
  height: 30px;
  object-fit: contain;
  margin: 0 10px;
}
.contact{
  height: 70px;
    padding: 20px;
    border: 1px solid lightgray;
    cursor: pointer;
}
.contact:hover, .contact:focus, .contact:active{
background-color: darkgray;
}

.eachContact{
 width: 200px;
    height: 200px;
    object-fit: contain;
    box-shadow: 1px 1px 1px 1px lightgrey;
}
.sendMesg{
  line-height: 9;
    vertical-align: middle;
}
.likes{
  width: 40%;
    /*border-collapse: separate;*/
    /*border-spacing: 25px 20px;*/
    border: 1px solid lightgray;
    margin: 5px;
}